/* 物业管理 */
.pro-title{
	margin:0 auto;
}
.pro-title span,.pro-title button{
	display:inline-block;
	margin-left:70px;
}
.pro-check input{
	width:260px;
	height:28px;
	font-size:15px;
	margin-left:30px;
}
.pro-check img{
	vertical-align:middle;
	position:relative;
	left:5px;
}
.pro-choose1 select{
	width:150px;
	height:25px;
	font-size:15px;
}
.pro-title button{
	margin-left:100px;
	width:140px;
	height:40px;
	border:none;
	background-color:#336699;
	font-size:18px;
	color:white;
}
.pro-choose2{
	margin-left:50px;
	margin-top:10px;
}
.pro-choose2 select{
	width:150px;
	height:25px;
	font-size:15px;
}
.pro-choose2 span{
	margin:0;
}
#pro{
	margin-top:22px;
	border-collapse:collapse;
	text-align:center;
}
#pro th{
	background-color:#4B99CB;
	color:white;
	font-weight:normal;
	font-size:16px;
}
#pro th,#pro td{
	padding:8px 10px;
}
#pro td{
	font-size:14px;
	padding:7px 10px;
	border:1px solid #797979;
}
#pro td span{
	display:inline-block;
}
#pro td span:nth-child(2){
	margin-left:10px;
}
#pro td span:nth-child(3){
	margin-left:10px;
}
#pro td span img{
	vertical-align:middle;
	position:relative;
	right:2px;
}
#pro .space{
	border:none;
}
.pro-td-width{
	width:170px;
}

.pro-bottom{
	margin-top:25px;
	padding-left:400px;
	
}
.pro-bottom button,.pro-bottom span{
	display:inline-block;
	vertical-align:bottom;
}
.pro-bottom button{
	border:none;
}
.pro-bottom-del{
	margin-left:160px;
	font-size:16px;
}
.pro-bottom .pro-paging{
	height:28px;
	background-color:#336699;
	color:white;
}
.pro-paging-down{
	height:28px;
	background-color:#ccc;
	color:white;
}
.pro-bottom .pro-pag{
	width:28px;
	height:28px;
	background-color:white;
	border:1px solid #797979;
}
.pro-bottom .pro-pag:hover{
	background-color:#FFFFCC;
}
.pro-pag-div .pro-btn-active{
	background-color:#4B99CB;
	color:white;
	width:28px;
	height:28px;
	border:1px solid #797979;
}
#park button{
	cursor:pointer;
}
.pro-pag-div{
	margin:auto 2px;
	height:28px;
	overflow:hidden;
	/* width:159px; */
}

.pro-addth{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-350px;
	margin-top:-150px;
	width:700px;
	height:300px;
	background-color:white;
	z-index:20;
	display:none;
}
.pro-addth h1{
	font-size:28px;
	color:#4b99cb;
	text-align:left;
	width:580px;
	padding-left:45px;
	padding-bottom:8px;
	border-bottom:2px solid #4b99cb;
}
.pro-file{
	text-align:center;
	margin:40px auto;
}
.pro-file button{
	background-color:#4b99cb;
	height:45px;
	width:200px;
	font-size:16px;
	color:white;
	border:none;
	border-radius:5px;
}
.pro-file span{
	font-size:14px;
}
.pro-btn{
	margin-top:22px;
	text-align:center;
}
.pro-btn button{
	display:inline-block;
	height:35px;
	width:100px;
	font-size:16px;
	color:white;
	background-color:#336699;
	border:none;
	border-radius:5px;
}
.pro-btn button:first-child{
	margin-right:50px;
}
.pro-addth #pro-upfile{
	display:none;
}
.pro-position{
	height:50px;
	margin-left:30px;
}
#pro td a{
	color:black;
	text-decoration:none;
}
#pro td a:hover{
	text-decoration:underline;
}
#pro td span{
	cursor:pointer;
}
#pro td span:hover{
	text-decoration:underline;
}

.pro-revise{
	display:none;
	position:absolute;
	width:700px;
	height:500px;
	border:1px solid #CCC;
	top:50%;
	left:50%;
	text-align:center;
	margin-left:-350px;
	margin-top:-250px;
	background-color:white;
	overflow:hidden;
	z-index:13;
	overflow:scroll;
}
.pro-revise h1{
	font-size:28px;
	color:#4b99cb;
	margin:5px auto;
	text-align:left;
	width:480px;
	padding-left:25px;
	padding-bottom:8px;
	padding-top:15px;
	border-bottom:2px solid #4b99cb;
}
.pro-revise .pro-revise-name{
	font-size:18px;
	margin-top:30px;
	padding-left:20px;
	text-align:left;
}
.pro-revise .pro-revise-name input{
	border:none;
	font-size:16px;
	background-color:white;
	width:300px;
}
.pro-revise .pro-revise-file{
	margin-top:40px;
}
.pro-revise .pro-revise-file button{
	width:200px;
	height:38px;
	background-color:#4b99cb;
	color:white;
	font-size:18px;
	border:none;
	border-radius:5px;
}
.pro-revise .pro-revise-file  span{
	font-size:13px;
}
.pro-revise .pro-revise-btn{
	margin-top:20px;
}
.pro-revise .pro-revise-btn button{
	display:inline-block;
	height:35px;
	width:100px;
	font-size:16px;
	color:white;
	background-color:#336699;
	border:none;
	border-radius:5px;
}
.pro-revise .pro-revise-btn button:first-child{
	margin-right:50px;
}

.pro-error{
	display:none;
	position:absolute;
	width:700px;
	height:420px;
	border:1px solid #CCC;
	top:50%;
	left:50%;
	text-align:center;
	margin-left:-350px;
	margin-top:-210px;
	background-color:white;
	overflow:hidden;
	z-index:13;
}
.pro-error h1{
	font-size:28px;
	color:#4b99cb;
	margin:5px auto;
	width:480px;
	padding-left:25px;
	padding-bottom:8px;
	padding-top:15px;
	border-bottom:2px solid #4b99cb;
	margin-bottom:20px;
}
.pro-error textarea{
	font-size:18px;
	padding:10px;
}
.pro-error-btn{
	margin-top:30px;
}
.pro-error-btn button{
	display:inline-block;
	height:35px;
	width:100px;
	font-size:16px;
	color:white;
	background-color:#336699;
	border:none;
	border-radius:5px;
}
.pro-error-btn1{
	margin-right:50px;
}