/* 小区管理 */
.vla-title{
	margin:15px auto;
}
.vla-title span,.vla-title button{
	display:inline-block;
	margin-left:100px;
}
.vla-check input{
	width:260px;
	height:28px;
	font-size:15px;
}
.vla-check img{
	vertical-align:middle;
	position:relative;
	left:5px;
}
.vla-choose select{
	width:110px;
	height:25px;
	font-size:15px;
}
.vla-title button{
	width:140px;
	height:40px;
	border:none;
	background-color:#336699;
	font-size:18px;
	color:white;
}

#vla{
	margin-top:22px;
	border-collapse:collapse;
	text-align:center;
}
#vla th{
	background-color:#4B99CB;
	color:white;
	font-weight:normal;
	font-size:19px;
}
#vla th,#vla td{
	padding:8px 50px;
}
#vla td{
	padding:7px 20px;
	border:1px solid #797979;
}
#vla td:nth-child(2){
	width:210px;
}
#vla td:nth-child(3){
	width:170px;
}
#vla td span{
	display:inline-block;
}
#vla td span:nth-child(2){
	margin-left:15px;
}
#vla td span:nth-child(3){
	margin-left:15px;
}
#vla td span img{
	vertical-align:middle;
	position:relative;
	right:2px;
}
#village .space{
	border:none;
}

.vla-bottom{
	margin-top:20px;
	text-align:center;
	top:610px;
}
.vla-bottom button,.vla-bottom span{
	display:inline-block;
	vertical-align:bottom;
}
.vla-bottom button{
	border:none;
}
.vla-bottom-del{
	float:right;
	font-size:16px;
}
.vla-bottom .vla-paging{
	height:28px;
	background-color:#336699;
	color:white;
}
.vla-paging-down{
	height:28px;
	background-color:#ccc;
	color:white;
}
.vla-bottom .vla-pag{
	width:28px;
	height:28px;
	background-color:white;
	border:1px solid #797979;
}
.vla-bottom .vla-pag:hover{
	background-color:#FFFFCC;
}
.vla-pag-div .vla-btn-active{
	background-color:#4B99CB;
	color:white;
	width:28px;
	height:28px;
	border:1px solid #797979;
}
#village button{
	cursor:pointer;
}
.vla-pag-div{
	margin:auto 2px;
	height:28px;
	overflow:hidden;
	/* width:159px; */
}

.vla-addth{
	position:absolute;
	top:146px;
	left:420px;
	width:555px;
	height:387px;
	background-color:white;
	z-index:20;
	display:none;
}
.vla-addth h1{
	font-size:28px;
	color:#4b99cb;
	margin:5px auto;
	text-align:left;
	width:480px;
	padding-left:25px;
	padding-bottom:8px;
	padding-top:15px;
	border-bottom:2px solid #4b99cb;
}
.vla-name{
	padding-left:60px;
	margin-top:22px;
	font-size:18px;
}
.vla-name input{
	width:260px;
	height:30px;
	font-size:16px;
}
#add-vla p{
	margin:22px auto 12px 60px;
	font-size:18px;
}
#village .form-inline{
	padding-left:60px;
	font-size:16px;
}
#village .form-inline select{
	height:30px;
	font-size:14px;
}
.vla-filediv{
	margin-top:22px;
	padding-left:60px;
}
#vla-upbtn{
	margin-top:12px;
	margin-left:20px;
	
}
#vla-upbtn button{
	width:82px;
	height:28px;
	background-color:#4b99cb;
	color:white;
	font-size:14px;
	border:none;
	border-radius:5px;
}
#vla-upbtn span{
	font-size:14px;
}
.vla-btn{
	margin-top:22px;
	text-align:center;
}
.vla-btn button{
	display:inline-block;
	height:35px;
	width:100px;
	font-size:16px;
	color:white;
	background-color:#336699;
	border:none;
	border-radius:5px;
}
.vla-btn button:first-child{
	margin-right:50px;
}
.vla-addth #vla-upfile{
	display:none;
}
#vla td a{
	color:black;
	text-decoration:none;
}
#vla td a:hover{
	text-decoration:underline;
}
#vla td span{
	cursor:pointer;
}
#vla td span:hover{
	text-decoration:underline;
}

.vla-revise{
	display:none;
	position:absolute;
	width:500px;
	height:300px;
	border:1px solid #CCC;
	top:50%;
	left:50%;
	text-align:center;
	margin-left:-250px;
	margin-top:-150px;
	background-color:white;
	overflow:hidden;
	z-index:13;
}
.vla-revise h1{
	font-size:28px;
	color:#4b99cb;
	margin:5px auto;
	text-align:left;
	width:480px;
	padding-left:25px;
	padding-bottom:8px;
	padding-top:15px;
	border-bottom:2px solid #4b99cb;
}
.vla-revise .vla-revise-name{
	font-size:18px;
	margin-top:30px;
	padding-left:20px;
	text-align:left;
}
.vla-revise .vla-revise-name input{
	border:none;
	font-size:16px;
	background-color:white;
	width:300px;
}
.vla-revise .vla-revise-file{
	margin-top:40px;
}
.vla-revise .vla-revise-file button{
	width:200px;
	height:38px;
	background-color:#4b99cb;
	color:white;
	font-size:18px;
	border:none;
	border-radius:5px;
}
.vla-revise .vla-revise-file  span{
	font-size:13px;
}
.vla-revise .vla-revise-btn{
	margin-top:20px;
}
.vla-revise .vla-revise-btn button{
	display:inline-block;
	height:35px;
	width:100px;
	font-size:16px;
	color:white;
	background-color:#336699;
	border:none;
	border-radius:5px;
}
.vla-revise .vla-revise-btn button:first-child{
	margin-right:50px;
}